{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ view.get_post.author.profile.image.url }}">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="{% url 'user-posts' view.get_post.author %}">{{ view.get_post.author }}</a>
				<small class="mr-2 text-muted">{{ view.get_post.date_posted|date:"F j, Y" }}</small>
			</div>
			<h2 class="article-title">{{ view.get_post.title }}</h2>
			<p class="article-content">{{ view.get_post.content|safe }}</p>
		</div>
	</article>
	

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Update Comment</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Post</button>
			</div>
		</form>
	</div>
{% endblock %}


